<!DOCTYPE html>
<html>
<head>
    <title>Contagem de Tags</title>
</head>
<body>
    <h2>Contagem de Tags</h2>
    <p>Lote: {{ lote }} | Data: {{ data }} | Hora Inicio: {{ hora_inicio }}</p>
    <p>Fonte de Vídeo: {{ source }}</p>

    
    <img src="{{ url_for('video_feed') }}" width="800" height="600" alt="Stream de Vídeo">
    <br>
    <a href="{{ url_for('stop') }}" style="font-size: 1.5em; color: white; background-color: rgb(0, 0, 0); padding: 10px; border-radius: 5px; text-decoration: none;">Parar Contagem</a>
    
</body>
</html>